<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About ejs</title>
</head>
<body>
    <h1>Lorem thing</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde rem porro, sequi dignissimos dolore odit nemo cum quo odio voluptates, neque pariatur ratione! Veniam omnis nam repudiandae magni, officiis minus?</p>
    
</body>
</html>